/* html {
  font-size: 62.5%;
} */
/* css3이하 vw vh 안됌 */

body, 
button,  
div,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
input, 
li,
ol, 
p, 
textarea, 
ul {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Noto Sans CJK KR';
}

input, textarea {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

body {
  width: 100%;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
